__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/
*.so
.env
.venv/
env/
venv/
graphs_data/
log/
*.pt
*.npy
*.npz
*.log
*.sh
*.mp4
*.tex
*.pdf
*.png
*.jpg
*.jpeg
.ipynb_checkpoints/
